<!DOCTYPE html>
<html lang="en">
<head>
	
	<!--
		Basic
	-->
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	<title>Ryan - vCard / Resume / CV Template</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="description" content="vCard & Resume Template" />
	<meta name="keywords" content="vcard, resposnive, resume, personal, card, cv, cards, portfolio" />
	<meta name="author" content="beshleyua" />
	
	<!--
		Load Fonts
	-->
	<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css">
	
	<!--
		Load CSS
	-->
	<link rel="stylesheet" href="css/basic.css" />
	<link rel="stylesheet" href="css/layout.css" />
	<link rel="stylesheet" href="css/blogs.css" />
	<link rel="stylesheet" href="css/ionicons.css" />
	<link rel="stylesheet" href="css/magnific-popup.css" />
	<link rel="stylesheet" href="css/animate.css" />
	<link rel="stylesheet" href="css/owl.carousel.css" />
	
	<!--
		Background Gradient
	-->
	<!--<link rel="stylesheet" href="css/gradient.css" />-->
	
	<!--
		Template New-Skin
	-->
	<!--<link rel="stylesheet" href="css/new-skin/new-skin.css" />-->

	<!--
		Template RTL
	-->
	<link rel="stylesheet" href="css/rtl.css" />
	
	<!--
		Template Colors
	-->
	<link rel="stylesheet" href="css/template-colors/green.css" />
	<!--<link rel="stylesheet" href="css/template-colors/blue.css" />-->
	<!--<link rel="stylesheet" href="css/template-colors/orange.css" />-->
	<!--<link rel="stylesheet" href="css/template-colors/pink.css" />-->
	<!--<link rel="stylesheet" href="css/template-colors/purple.css" />-->
	<!--<link rel="stylesheet" href="css/template-colors/red.css" />-->

	<!--
		Template Dark
	-->
	<!--<link rel="stylesheet" href="css/template-dark/dark.css" />-->

	
	<!--[if lt IE 9]>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<!--
		Favicons
	-->
	<link rel="shortcut icon" href="images/favicons/favicon.ico">
	
</head>

<body>	
	<div class="page">
		
		<!-- preloader -->
		<div class="preloader">
			<div class="centrize full-width">
				<div class="vertical-center">
					<div class="spinner">
						<div class="double-bounce1"></div>
						<div class="double-bounce2"></div>
					</div>
				</div>
			</div>
		</div>

		<!-- background -->
		<div class="background"></div>

		<!--
			Container
		-->
		<div class="container opened" data-animation-in="fadeInLeft" data-animation-out="fadeOutLeft">

			<!--
				Header
			-->
			<header class="header">

				<!-- menu -->
				<div class="top-menu">
					<ul>
						<li>
							<a href="index-rtl.html">
								<span class="icon ion-home"></span>
								<span class="link">الأساسية</span>
							</a>
						</li>
						<li class="active">
							<a href="blog-post-rtl.html">
								<span class="icon ion-chatbox-working"></span>
								<span class="link">مدونة</span>
							</a>
						</li>
					</ul>
				</div>

			</header>

			<!--
				Card - Started
			-->
			<div class="card-started">

				<!--
					Profile
				-->
				<div class="profile">

					<!-- profile image -->
					<div class="slide" style="background-image: url(images/bg.jpg);"></div>

					<!-- profile photo -->
					<div class="image">
						<img src="images/profile.png" alt="" />
					</div>

					<!-- profile titles -->
					<div class="title">ريان ادلارد</div>
					<div class="subtitle">مصمم الويب</div>

					<!-- profile socials -->
					<div class="social">
						<a target="_blank" href="https://dribbble.com/"><span class="fab fa-dribbble"></span></a>
						<a target="_blank" href="https://twitter.com/"><span class="fab fa-twitter"></span></a>
						<a target="_blank" href="https://github.com/"><span class="fab fa-github"></span></a>
						<a target="_blank" href="https://www.spotify.com/"><span class="fab fa-spotify"></span></a>
						<a target="_blank" href="https://stackoverflow.com/"><span class="fab fa-stack-overflow"></span></a>
					</div>
					
					<!-- profile buttons -->
					<div class="lnks">
						<a href="#" class="lnk">
							<span class="text">تحميل السيرة الذاتية</span>
							<span class="ion ion-archive"></span>
						</a>
						<a href="index.html" class="lnk discover active">
							<span class="text">العودة إلى المنزل</span>
							<span class="arrow"></span>
						</a>
					</div>

				</div>

			</div>

			<!--
				Card - Blog
			-->
			<div class="card-inner blog blog-post animated" id="blog-card">
				<div class="card-wrap">

					<!--
						Blog Single
					-->
					<div class="content blog-single">

						<!-- title -->
						<div class="title">مشاركة مدونة</div>

						<!-- content -->
						<div class="row border-line-v">
							<div class="col col-m-12 col-t-12 col-d-12">
								<div class="post-box">
									
									<!-- blog detail -->
									<h1>تأمين التعليم على ضمان مستشار في القيام به</h1>						
									<div class="blog-detail">تم النشر في 12 حزيران 2016</div>
									
									<!-- blog image -->
									<div class="blog-image">
										<img src="images/blog/blog1.jpg" alt="" />
									</div>  
									
									<!-- blog content -->
									<div class="blog-content">
										<p>
											لذلك ضرب من لقيت حلها. شمالا عن طريق وصفها حتى المنزلية لذلك
انتباه. التفوق بشكل حاسم حتى الآن رجل الانطباع لمنافسة بشكل ملحوظ.
										</p>
										<p>
											مصادرة كنت منكرة ولكن مثلي في بعض الأحيان شرح. آخر كما درسته للواضحة.
بمعنى سعيد نظرا لأنه ينشأ. السلوك في اجابه ازالتها بين. متبق
تحديد عدد قليل من اثنين اعترف القدامى.
										</p>
										<blockquote>
											يقول القرميد تفسد الآن الجدران يعني البيت. أفكاري اهتمام السيد فرزت من تفوق
إزالة. مجتمع مسائي موسيقي بجانب ساكني. تفقد تلة جيدا انه سوف ينتهي.
زيادة كل ما يكفي من الرجال له الإعجاب بعدم الإنجاز.
										</blockquote>
										<p>
											يقول القرميد تفسد الآن الجدران يعني البيت. أفكاري اهتمام السيد فرزت من تفوق
إزالة. مجتمع مسائي موسيقي بجانب ساكني. تفقد تلة جيدا انه سوف ينتهي.
زيادة كل ما يكفي من الرجال له الإعجاب بعدم الإنجاز.
										</p>
										<ul class="list-style">
											<li>أعظم بشكل صحيح قبالة ممارسة لحم الخنزير جميع.</li>
											<li>أعظم بشكل صحيح قبالة ممارسة لحم الخنزير جميع.</li>
											<li>أعظم بشكل صحيح قبالة ممارسة لحم الخنزير جميع.</li>
										</ul>
										<p>
											دهش مزعج لحد من التحيز حتى التحيز. صاخبة من المقصود بهم. الموت يعني
حتى المدني لا عرض الجرح.
										</p>
									</div>

								</div>
							</div>
						</div>
						
						<!-- title -->
						<div class="title">تعليقات</div>
						
						<!-- comments -->
						<div class="row border-line-v">
							<div class="col col-m-12 col-t-12 col-d-12">
								<div class="post-box">
									
									<!-- comments items -->
									<div class="col-md-12">
										<ul class="post-comments">
											
											<!-- comment item -->
											<li>
												<img src="images/man1.jpg" alt="">
												<div class="comment-info">
													<div class="name">
														<h6>فلان الفلاني <span>منذ 1 ساعة</span></h6>
														<a href="#">الرد</a>
													</div>
													<p>
														أبقى في إرسال أعطى أشعر أنه سوف نحن. لديه متعة شراء الرجال
يضحك مصاريع.
													</p>
												</div>
											</li>
											
											<!-- comment item -->
											<li>
												<img src="images/man1.jpg" alt="">
												<div class="comment-info">
													<div class="name">
														<h6>فلان الفلاني <span>منذ 1 ساعة</span></h6>
														<a href="#">الرد</a>
													</div>
													<p>
														أبقى في إرسال أعطى أشعر أنه سوف نحن. لديه متعة شراء الرجال
يضحك مصاريع.
													</p>
												</div>
											</li>
											
											<!-- comment item -->
											<li>
												<img src="images/man1.jpg" alt="">
												<div class="comment-info">
													<div class="name">
														<h6>فلان الفلاني <span>منذ 1 ساعة</span></h6>
														<a href="#">الرد</a>
													</div>
													<p>
														أبقى في إرسال أعطى أشعر أنه سوف نحن. لديه متعة شراء الرجال
يضحك مصاريع.
													</p>
												</div>
											</li>
											
										</ul>
									</div>

								</div>
							</div>
						</div>
						
						<!-- title -->
						<div class="title">اترك تعليقا</div>
						
						<!-- comments -->
						<div class="row border-line-v">
							<div class="col col-m-12 col-t-12 col-d-12">
								<div class="post-box">
									
									<!-- comment form -->
									<form id="cform" method="post">
										<div class="row">
											<div class="col col-d-12 col-t-12 col-m-12">
												<div class="group-val">
													<input type="text" name="name" placeholder="الاسم الكامل" />
												</div>
											</div>
											<div class="col col-d-12 col-t-12 col-m-12">
												<div class="group-val">
													<textarea name="message" placeholder="رسالتك"></textarea>
												</div>
											</div>
										</div>
										<div class="align-left">
											<a href="#" class="button" onclick="$('#cform').submit(); return false;">
												<span class="text">أضف تعليق</span>
												<span class="arrow"></span>
											</a>
										</div>
									</form>
									<div class="alert-success">
										<p>شكرا ، يتم إرسال رسالتك بنجاح.</p>
									</div>

								</div>
							</div>
						</div>

					</div>

				</div>
			</div>

		</div>
	</div>
	
	<!--
		jQuery Scripts
	-->
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.validate.js"></script>
	<script src="js/jquery.magnific-popup.js"></script>
	<script src="js/imagesloaded.pkgd.js"></script>
	<script src="js/isotope.pkgd.js"></script>
	<script src="js/jquery.slimscroll.js"></script>
	<script src="js/owl.carousel.js"></script>
	
	<!--
		Google map api
	-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDz2w7HUaWudHwd7AWQpCL48Qs050WOn9s"></script>
	
	<!--
		Main Scripts
	-->
	<script src="js/scripts.js"></script>
	
</body>
</html>